<!-- Sidebar -->
<div class="sidebar ">
  <!-- Sidebar Logo -->
  <div class="sidebar-logo" >
    <a href="index.html">
      <img src="../images/textlogo.png" alt="Logo" class="logo-image">
    </a>
  </div>

  <!-- Sidebar Links -->
  <ul class="sidebar-links top-links">
    <li class="sidebar-item" data-target="dashboardSection">
      <i class="fas fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </li>
    <li class="sidebar-item" data-target="messagesSection">
      <i class="fas fa-envelope"></i>
      <span>Messages</span>
    </li>
    <li class="sidebar-item" data-target="analyticsSection">
      <i class="fas fa-chart-line"></i>
      <span>Analytics</span>
    </li>
    <li class="sidebar-item" data-target="configurationSection">
      <i class="fas fa-cog"></i>
      <span>Configuration</span>
    </li>
  </ul>

  <ul class="sidebar-links bottom-links">
    <li class="sidebar-item" data-target="accountSection">
      <i class="fas fa-user-cog"></i>
      <span>Account Settings</span>
    </li>
    <li class="sidebar-item" data-target="purchaseSection">
      <i class="fas fa-credit-card"></i>
      <span>Purchase Credits</span>
    </li>
    <li class="sidebar-item" data-target="helpSection">
      <i class="fas fa-headset"></i>
      <span>Help Center</span>
    </li>
    <li class="sidebar-item" data-target="feedbackSection">
      <i class="fas fa-comment-dots"></i>
      <span>Give Feedback</span>
    </li>
  </ul>

  <!-- Logout Button -->
  <button class="logout-btn" id="logoutBtn">
    <i class="fas fa-sign-out-alt"></i>
    Logout
  </button>
</div>
